<form [formGroup]="movieForm">
  <label>
    Title:
    <input type="text" formControlName="title">
  </label>

  <label>
    Description:
    <input type="text" formControlName="description">
  </label>
  <label>
    Movie Id:
    <input type="text" formControlName="movieId" disabled>
  </label>
  <button *ngIf="selectedMovieId === undefined || selectedMovieId === null" (click)="addMovie()">Add Movie</button>
  <button *ngIf="selectedMovieId !== undefined && selectedMovieId !== null" (click)="updateMovie()">Update</button>
</form>


<h1>List of Movies</h1>

<div *ngFor="let movie of movieObs | async">
  <p>Movie Title: {{movie.title}}</p>
  <p>Movie Description: {{movie.description}}</p>
  <p>Movie Id: {{movie.movieId}}</p>
  <button (click)="removeMovie(movie.movieId)">Remove</button>
  <button (click)="selectMovie(movie.movieId, movie.title, movie.description)">Select</button>
</div>

<!-- <h1>Search Movies</h1>
<input type="text" [(ngModel)]="searchValue" (ngModelChange)="search($event)" /> -->
<!-- <button (click)="search()">Search</button> -->

<div *ngFor="let movie of movieSearched | async">
  <p>Movie Title: {{movie.title}}</p>
</div>

<ais-instantsearch [config]="searchConfig">

  <ais-search-box (change)="searchChanged($event)"></ais-search-box>

  <ais-hits *ngIf="showResults">
    <ng-template let-hits="hits">
      <div *ngFor="let hit of hits">

        <img [src]="hit.avatar" width="30px">

        <ais-highlight attribute="title" [hit]="hit">
        </ais-highlight>

        <div class="description">
          {{ hit.description | slice:0:30 }}...
        </div>

      </div>
    </ng-template>
  </ais-hits>
</ais-instantsearch>